{% autoescape false %}
<div class="app-block-standard [[cms:parameter:firstLastClass]] {{data.root.block_presentation|default('')}}">
    {% set img = data.media.mainImage.0.default|default('') %}
    {% if img %}
        {% if data.root.image_url|default('') %}<a href="{{data.root.image_url}}">{% endif %}
            <img class="app-block-img" src="{{img.url}}"/>
        {% if data.root.image_url|default('') %}</a>{% endif %}
    {% endif %}
    <a href="{{ path('KitpagesShopCmsBundlee_productDetail', { "slug" : data.block.slug } ) }}">
    {% if data.root.name|default('') %}<h2>{{data.root.name}}</h2>{% endif %}
    </a>
    {#{% if data.root.category|default('') %}<h3>{{data.root.category}} {% if data.root.subcategory|default('') %}- {{data.root.subcategory}} {% endif %}</h3>{% endif %}#}



    {#{% if data.root.description|default('') %}<div>{{data.root.description}}</div>{%endif%}#}

    {#{% if data.root.subContent|default('') %}<div>{{data.root.subContent}}</div>{%endif%}#}

    {% if data.root.promotion|default('') %}
        <div class="kit-shop-cms-price-promotion"><span class="kit-shop-cms-price-promotion-old">{{data.root.price}} &euro;</span> {{data.root.promotion}} &euro;</div>
    {% else %}
        <div class="kit-shop-cms-price">{{data.root.price}} &euro;</div>
    {% endif %}
    <a href="{{ path ("KitpagesShopCmsBundlee_addToCart", {"blockId": data.block.blockId}) }}" >add basket</a>
</div>
{% if data.root.html|default('') %}{{data.root.html}}{% endif %}
{% endautoescape %}